---
cluster_name: my-cluster
dcos_download_url: https://downloads.dcos.io/dcos/EarlyAccess/dcos_generate_config.sh?_ga=2.177384293.1745923283.1502273950-1637564556.1479832876
epel_repo_url: https://download.fedoraproject.org/pub/epel/$releasever/$basearch/
bootstrap_server_port: 5000
loopback_ip: 127.0.0.1
cloud: packet
local_ips:
  - 85.191.81.60
  - 83.85.190.253
  - 92.111.228.8
dns_servers:
  - 8.8.4.4
  - 8.8.8.8
spartan_ips:
  - 198.51.100.1
  - 198.51.100.2
  - 198.51.100.3
packet_auth_token: foo
packet_region: ams1