#!/bin/bash

ipset create whitelist -! hash:net

# User IPs
{% for local_ip in local_ips %}
ipset add whitelist -! {{ local_ip }}
{% endfor %}

# Public master IPs
{% for host in groups['masters'] %}
ipset add whitelist -! {{ hostvars[host]['ansible_bond0']['ipv4']['address'] }}
{% endfor %}

# Agent public IPs
{% for host in groups['agents'] %}
ipset add whitelist -! {{ hostvars[host]['ansible_bond0']['ipv4']['address'] }}
{% endfor %}

# Agent private IPs
{% for host in groups['agents'] %}
ipset add whitelist -! {{ hostvars[host]['ansible_bond0_0']['ipv4']['address'] }}
{% endfor %}

# Public agent public IPs
{% for host in groups['pubagents'] %}
ipset add whitelist -! {{ hostvars[host]['ansible_bond0']['ipv4']['address'] }}
{% endfor %}

# Public agent private IPs
{% for host in groups['pubagents'] %}
ipset add whitelist -! {{ hostvars[host]['ansible_bond0_0']['ipv4']['address'] }}
{% endfor %}

# Private master IPs
{% for host in groups['masters'] %}
ipset add whitelist -! {{ hostvars[host]['ansible_bond0_0']['ipv4']['address'] }}
{% endfor %}

# Loopback
ipset add whitelist -! {{ loopback_ip }}

# Spartan IPs
{% for spartan_ip in spartan_ips %}
ipset add whitelist -! {{ spartan_ip }}
{% endfor %}

# DNS servers
{% for dns_server in dns_servers %}
ipset add whitelist -! {{ dns_server }}
{% endfor %}